<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="null" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="null">
            <p role="alert" class="text-center mt-10 text-red-500">
                Sorry, there's nothing at this address.
            </p>
        </LayoutView>
    </NotFound>
</Router>
